# NextAuth 설정
AUTH_SECRET=your_auth_secret_here_make_it_long_and_random
NEXTAUTH_URL=http://localhost:3000

# 카카오 OAuth 설정
KAKAO_CLIENT_ID=dde1dd03185d305a064559ebc0a74e89
KAKAO_CLIENT_SECRET=RAJpLmybRDxHhmvP9yjevMUPTybRPIAN

# 데이터베이스 설정 (PostgreSQL)
DATABASE_URL=postgresql://postgres:[cjsejr2@@Qq]@db.eimigljsepwwtrsosxmg.supabase.co:5432/postgres

# 기본 현장 설정
NEXT_PUBLIC_DEFAULT_SITE=HQ

# 관리자 비밀번호 설정
ADMIN_PASSWORD=ejrdldi!@
